* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
}
// header & navigaion
.sec-header {
    background-image: url("../media/resized/fog-800x900.png");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container,
.navbar,
.hamburger {
    margin-top: 1em;
}

.hamburger {
    position: absolute;
    right: 20px;
}

.hamburger a {
    color: #bca64d;
}

.navbar a {
    display: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2em;
}

.header-text {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.header-text h1 {
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px #000;
}

.hand-crafted {
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 75px;
}

.play {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15px;
}

.shop {
    background-color: #bca64d;
    width: 320px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 50px;
    padding: 15px 67px;
    text-transform: uppercase;
}

.mp-1,
.mp-2,
.mp-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-panels h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    margin: 2em 1em;
}

.main-panels p {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0 12px 25px 12px;
    margin: 0 auto;
}

.font-aws i,
.fa {
    display: inline-block;
    padding: 0 7px 20px 7px;
    color: #b0b0b0;
}

.img-4,
.img-5 {
    padding: 0 12px 0 12px;
}

.inverted-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #213947;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.inverted-panel h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 25px 10px;
}

.inverted-panel h3 {
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 10px 0 15px 0;
}

.inverted-panel p {
    font-size: 11px;
    font-weight: 300;
    color: #999;
}

.ip-1,
.ip-2,
.ip-3,
.ip-4 {
    width: 150px;
}

.ip-col-one,
.ip-col-two {
    width: 320px;
    display: flex;
    flex-wrap: none;
    justify-content: center;
}

p.img-text, {
    padding: 0 28px 40px 28px;
}

.closing-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soc-media a {
    color: #bca64d;
    display: inline-block;
    padding: 50px 20px 65px;
}
