* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

// header & navigaion

.sec-header {
    background-image: url("../media/resized/fog-473x107.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container,
.navbar,
.hamburger {
    margin-top: 1em;
}

@media (min-width: 750px) {
    .logo {
        position: absolute;
        left: 2em;
    }

    @media (min-width: 1440px) {
        .logo {
            position: absolute;
            left: 7em;
        }
    }
}

.hamburger {
    position: absolute;
    right: 20px;

    @media (min-width: 750px) {
        display: none;
    }
}

.hamburger a {
    color: #bca64d;
}

.navbar {
    @media (min-width: 450px) {
        position: absolute;
        right: 2em;
    }

    @media (min-width: 750px) {
        position: absolute;
        right: 5em;
    }
}

.navbar a {
    display: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-left: 2em;

    @media (min-width: 750px) {
        display: inline-block;
        text-transform: uppercase;
    }
}

@media (min-width: 750px) {
    .navbar a:nth-child(3) {
        border: solid 2px #fff;
        padding: 12px 72px;
    }
}

.header-text {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    @media (min-width: 450px) {
        margin-top: 75px;
    }
}

.header-text h1 {
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px #000;

    @media (min-width: 450px) {
        font-size: 65px;
        margin-top: 1.5em;
    }

    @media (min-width: 750px) {
        font-size: 65px;
        margin-top: 3.5em;
    }
}

.hand-crafted {
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 75px;

    @media (min-width: 450px) {
        font-size: 22px;
        font-weight: 600;
    }
}

.play {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15px;

    @media (min-width: 450px) {
        margin-bottom: 15em;
    }
}

.shop {
    background-color: #bca64d;
    width: 450px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 50px;
    padding: 15px 67px;
    text-transform: uppercase;

    @media (min-width: 450px) {
        display: none;
    }
}

// Main panel

.main-panels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-panels h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    margin: 2em 1em;

    @media (min-width: 750px) {
        margin: 0;
        line-height: 1.5;
        padding-bottom: 25px;
    }
}

.main-panels p {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0 12px 25px 12px;

    @media (min-width: 750px) {
        padding: 0;
        margin: 0;
    }
}
// MP Section One
.mp-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 750px) {
        flex-direction: row;
        margin: 0 10%;
    }
}

@media (min-width: 750px) {
    .img-1 {
        order: 2;
        padding-top: 40px;
    }
}

.mp-1-text {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 750px) {
        align-items: flex-start;
        padding-top: 75px;
        padding-right: 75px;
    }
}

@media (min-width: 750px) {
    .mp-1-text h2 {
        text-align: left;
        width: 275.81px;
    }
}

@media (min-width: 750px) {
    .mp-1-text p {
        text-align: left;
        padding-bottom: 50px;
        width: 402.22px;
    }
}

.font-aws i,
.fa {
    display: inline-block;
    padding: 0 15px 20px 7px;
    color: #b0b0b0;
}

// MP Section Two

.mp-2 {
    background-image: url("../media/resized/beads900x280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-width: 100%;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mp-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 750px) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media (min-width: 750px) {
    .section-two-a {
        margin-top: 10%;
        margin-left: 18%;
    }
}

@media (min-width: 750px) {
    .mp-4 {
        margin-left: -30px;
    }
}

@media (min-width: 750px) {
    .img-4 {
        height: 350px;
    }
}

@media (min-width: 750px) {
    .mp-8 {
        width: 350px;
        text-align: left;
    }

    .mp-8 p {
        text-align: left;
        padding-bottom: 55px;
        width: 335px;
        margin: 0;
    }
}

@media (min-width: 750px) {
    .section-two-b {
        display: flex;
        flex-direction: column;
        margin-right: 18%;
    }

    .mp-5 {
        order: 2;
    }

    .mp-6 {
        order: 1;
    }
}

// Inverted Panel

.inverted-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #213947;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;

    @media (min-width: 750px) {
        width: 1440px;
    }
}

.inverted-panel h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 25px 10px;

    @media (min-width: 750px) {
        width: 500px;
    }
}

.inverted-panel h3 {
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    padding: 10px 0 15px 0;
}

.inverted-panel p {
    font-size: 11px;
    font-weight: 300;
    color: #999;
}

@media (min-width: 750px) {
    .ip-models {
        display: flex;
        flex-direction: row;
    }
}

.ip-1,
.ip-2,
.ip-3,
.ip-4 {
    width: 150px;
}

.ip-col-one,
.ip-col-two {
    width: 320px;
    display: flex;
    flex-wrap: none;
    justify-content: center;
}

p.img-text, {
    padding: 0 28px 40px 28px;
}

// Closing panel

.closing-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.orders {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;

    @media (min-width: 750px) {
        position: absolute;
        left: 20%;
        bottom: 80px;
        align-items: flex-start;
        text-align: left;
    }
}

.closing-panel div + .orders h2 {
    margin: 0 35px 0 35px;
    font-size: 22px;
    font-weight: 300;
    color: #999;

    @media (min-width: 750px) {
        margin: 0;
    }
}

.coupon {
    margin: 15px 35px 25px 35px;
    font-size: 22px;
    font-weight: 400;
    color: #666;
}

.close-shop {
    width: 270px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    background-color: #bca64d;
}

.closing-panel h4 + p {
    font-size: 11px;
    font-weight: 300;
    color: #999;
    padding: 15px;
}

@media (min-width: 750px) {
    .img-10 {
        display: none;
    }

    .cl-bg-img {
        background-image: url("../media/resized/pine-cone-cp-background.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        width: 1440px;
        height: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Footer

.mail-list {
    display: none;

    @media (min-width: 750px) {
        display: block;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;

    @media (min-width: 750px) {
        flex-direction: row;
    }
}

input[type="email"] {
    padding: 15px;
    width: 270px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    border: solid 2px #999;
}

button {
    padding: 15px;
    width: 270px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    background-color: #a0a1a1;

    @media (min-width: 750px) {
        margin-top: 35px;
        margin-bottom: 8px;
        margin-left: 5px;
        width: 200px;
    }
}

.mail-list,
.footer-copy {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

@media (min-width: 750px) {
    .footer-copy {
        display: flex;
        flex-direction: row;
    }
}

.soc-media a {
    color: #bca64d;
    display: inline-block;
    padding: 50px 20px 65px;
}

.footer .footer-copy p {
    padding: 15px;
    color: #999;
}

.footer .footer-copy p a {
    text-decoration: none;
    color: #999;
}
